/* Reset some default styling */
body, h1, p, label, input, textarea, button {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Form container */
  #surveyForm {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #84e2f0;
  }
  
  /* Page container */
  .page {
   /* display: none;*/
  }
  
  /* Page heading */
  .page h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Form elements */
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical;
  }
  
  /* Form buttons */
  button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Thank you page styles */
  .thank-you {
    text-align: center;
    margin-top: 50px;
  }
  